
#about:hover{
    color: #4078c0;
    cursor:pointer;
}
#about {
    font-size: 14px;
    color: black;
    font-weight: 600;
}
footer {
    position: absolute;
    bottom: 50px;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 20px;
   text-align: center;
}
footer a{
    font-size: 85%;
}
